.portfolio {
    height: 100vh;          /* Full screen height */
    width: 100%;           /* Full screen width */
    background-color: black;
    background-size: cover;     /* Cover full screen */
    background-repeat: no-repeat; /* No repeat */
    background-position: center;  /* Center image */
    position: relative;
}

 
   
/* Dark overlay at top */
.overlay {
    
    height: 29%;
    width: 10%;
    background-image: url(../css/new.png);
     /* background-color: rgba(30, 37, 29, 0.55); */ 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    color: white;
    
}

/* Heading */
.overlay h1 {
    font-size: 2.5rem;
    margin-bottom: 4px;
    
}

/* Name */
.overlay p {
    font-size: 1.2rem;
}

.para {
    color: white;
    margin: 5px;
    font-size: large;
}
